[buildout]
extends = http://dist.plone.org/release/4.3-latest/versions.cfg
find-links =
    http://dist.plone.org/release/4.3-latest
develop = .
parts = test
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = collective.dynapage [test]
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']

[versions]
zc.buildout =
setuptools =
